body {
  background-color: rgb(120, 172, 120);
}
.content2 {
  display: block;
  justify-content: center;
}
a {
  text-decoration: none;
}
.home-nav {
  margin: 5px;
  border: 2px black solid;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}
.box2 {
  color: black;
  padding: 10px;
  background-color: rgb(32, 119, 70);
  margin: 10px;
  width: auto;
  border: 2px solid rgb(237, 190, 1);
  border-radius: 10px;
  z-index: -1;
  box-shadow: 1px 1px 3px silver;
  cursor: pointer;
  font-weight: bold;
  color: black;
}
