* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  background-color: #2f9732;
  color: black;
}
img {
  width: 500px;
  border-radius: 10px;
  margin: auto;
  display: flex;
}
body {
  background-color: beige;
}
.form-1 {
  display: flex;
  padding: 5px;
  margin: 20px;
  justify-content: center;
 }
.form-1 form {
  border: 2px black solid;
  border-color: #2f9732;
  box-shadow: 10px 10px 8px 10px #888888;
  border-radius: 8px;
  padding: 15px;
  width: 30%;
  display: block;
  justify-content: center;
}
.login-label {
  padding: 4px;
  margin: auto;
  text-align: center;
  border: 2px black solid;
  border-radius: 5px;
  
}
.form-user label {
  display: block;
  padding-bottom: 5px;
  text-align: left;
  font-weight: bold;
  font-size: large;
}

.form-pass label {
  display: block;
  padding-bottom: 5px;
  text-align: left;
  font-weight: bold;
  font-size: large;
}
.form-pass input {
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  margin: auto;
}
.form-user input {
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  margin: auto;
}
.form-submit {
  display: flex;
  padding: 2px;
  justify-content: center;
}
.form-submit button {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 5px;
}

.form-submit button:hover {
  background-color: #2f9732;
  color: white;
}

.register {
  display: flex;
  justify-content: center;
}
