body {
  background-color: rgb(119, 153, 119);
}
.content2 {
  display: block;
  justify-items: center;
}
a {
  text-decoration: none;
}
.home-nav {
  margin: 5px;
  border: 2px black solid;
  background-color: darkgoldenrod;
  color: black;
  border-radius: 10px;
  padding-top: 13.5px;
  padding-left: 8px;
  padding-right: 8px;
  height: 60px;
  font-weight: bold;
}
.home-nav button {
  display: flex;
  float: right;
}
.box2 {
  color: black;
  padding: 10px;
  background-color: rgb(32, 119, 70);
  margin: 14px;
  width: auto;
  border: 2px solid rgb(237, 190, 1);
  border-radius: 10px;
  z-index: -1;
  box-shadow: 1px 1px 3px silver;
  cursor: pointer;
  font-weight: bold;
  color: black;
}
