body {
  background-color: rgb(120, 172, 120);
}
.well {
  border: 2px black solid;
  border-radius: 5px;
  background-color: cornsilk;
}
.well label {
  color: black;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
  padding: 2px;
}
.well h4 {
  color: black;
  font-weight: bold;
  font-size: large;
  border: 1.5px black solid;
  border-radius: 5px;
  padding: 5px;
}
.content2 ol {
  font-size: medium;
}
.breadcrumb {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 10px;
  border: 2px olivedrab solid;
  border-radius: 10px;
  background-color: darkgoldenrod;
}
.breadcrumb a {
  color: black;
  font-weight: bold;
}
.breadcrumb > .active {
  color: black;
  font-weight: bold;
}
.breadcrumb > li + li:before {
  color: black;
}
.well input {
  box-sizing: border-box;
  margin: 2px;
  border-radius: 4px;
  border: 2px black solid;
}
